@model TSTB.BLL.DTOs.ServicesDTO.ServiceTypeDTO
@{
    ViewData["Title"] = Model.Name;
}

<div class="bg-gray-100 h-full py-8">
    <div class="container bg-white sm:pt-12 pt-4 relative">
        <div class="lg:px-24 px-4">
            <h1 class="font-bold text-2xl sm:text-3xl lg:max-w-3xl lg:text-3xl">
                @Model.Name
            </h1>
        </div>
        <div class="h-1 w-full bg-gray-100 lg:mt-20 sm:mt-10 mt-4"></div>

        <div class="lg:px-24 px-4 sm:mt-10 mt-4 pb-8">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>
