@model TSTB.Web.Areas.Employee.Models.ErrorViewModel
@{
    ViewData["Title"] = "ErrorView";
   
}

<h2>@Model.ErrorMessage</h2>
<a asp-action="Index" asp-controller="Charity" asp-area="Employee">Return</a>

