@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // получаем список поддерживаемых культур
    var cultureItems = LocOptions.Value.SupportedUICultures.Where(p => p.Name != requestCulture.RequestCulture.Culture.Name)
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName.Substring(0, 1).ToUpper() + c.NativeName.Substring(1) })
        .ToList();

    List<SelectListItem> lngListItem = new List<SelectListItem>();
    foreach (var c in cultureItems)
    {
        if (c.Text == "Türkmen dili")
        {
            c.Text = "Türkmen";
        }
        lngListItem.Add(c);
    }
}

<div class="text-gray-200 mr-10 select-none select-box relative h-full flex items-center" id="select-box">
    <div class="pl-3 flex items-center z-10 bg-primary h-full cursor-pointer">
        @if (requestCulture.RequestCulture.UICulture.NativeName == "Türkmen dili")
        {
            <span class="hover:text-white"> Türkmen </span>
        }
        else
        {
            <span class="hover:text-white"> @(requestCulture.RequestCulture.UICulture.NativeName.Substring(0, 1).ToUpper() + requestCulture.RequestCulture.UICulture.NativeName.Substring(1)) </span>
        }

        <svg width="9.73" height="6" viewBox="0 0 9.73 6" class="ml-2" id="select-arrow">
            <path id="path"
                  d="M458.095,877.6l1.135,1.135-4.865,4.865-4.865-4.865,1.135-1.135,3.73,3.73Z"
                  transform="translate(-449.5 -877.6)"
                  fill="#fff"
                  opacity="0.8" />
        </svg>
    </div>
    <div class="flex flex-col absolute shadow-lg bg-primary px-4 pb-2" id="select-content">
        @foreach (var lng in lngListItem)
        {
            <a asp-area="" asp-controller="Home" asp-action="SetLanguage"
               asp-route-returnUrl="@Context.Request.Path" asp-route-culture="@lng.Value"
               data-link="#" class="py-1 hover:text-white">@lng.Text</a>
        }
    </div>
</div>