@model IEnumerable<TSTB.BLL.DTOs.ProjectsModelDTO.ProjectDTO>
@using TSTB.Web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    Layout = "/Views/PressReleases/Layout.cshtml";
    ViewData["Title"] = SharedLocalizer["Completed projects"];
}

<div class="h-full xl:container xl:px-0 px-4">
    <div class="mt-8 mb-16">
        <div class="grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-y-8 sm:gap-4 pb-8">
            @foreach (var project in Model)
            {
                <div class="rounded flex flex-col max-w-xs relative overflow-hidden">
                    <img src="~/images/Projects/@project.Image" alt="" class="object-cover">
                    <a asp-area="" asp-controller="CompletedProject" asp-action="Detail" asp-route-id="@project.Id" class="md:mt-5 md:mb-3 mt-2 mb-1 font-semibold hover:text-link">
                        @project.Name
                    </a>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
<script>
    document.getElementById("Projects").className = "tag tag--active";
</script>
}